@import url("e4_basestyle.css");

.MTrimmedWindow.topLevel {
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.MPartStack {
    font-size: 9;
    font-family: 'Calibri';
    swt-simple: true;
    swt-tab-renderer:
        url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.ChromeTabRendering');

    padding: 2px 7px 9px 7px; /* top left bottom right */
    swt-tab-outline: #626262;
    swt-outer-keyline-color: #626262;
    swt-unselected-tabs-color: #6b6b6b #666666 #3f4447 99% 100%;
    swt-shadow-visible: true;

    swt-selected-tab-fill: #3f4447;
    chrome-selected-tab-fill-highlight: #626363;

    chrome-selected-tab-color: #f7f8f8;
    chrome-unselected-tab-color: #f4f5f6;

    swt-shadow-color: #0b0b0b;

    chrome-shiney-shadow: false;
    swt-mru-visible: true;

    swt-corner-radius: 16px;
}

.MPartStack.active {
    swt-inner-keyline-color: #FFFFFF;
    swt-tab-outline: #6a6c71;
    swt-outer-keyline-color: #6a6c71;
    swt-unselected-tabs-color: #5f6063 #5a5b5e #272727 99% 100%;

    swt-selected-tab-fill: #272727;
    chrome-selected-tab-fill-highlight: #484848;

    chrome-selected-tab-color: #f9faf7;
    chrome-unselected-tab-color: #f0f0f0;
    chrome-shiney-shadow: false;
}

.MPartStack.empty {
    swt-unselected-tabs-color: #636363 #636363 #636363 99% 100%;
    swt-tab-outline: #535354;
    swt-outer-keyline-color: #535354;
}

.MTrimmedWindow {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #7b7b7b;
}

.MTrimBar {
    background-color: #7b7b7b;
}

.MTrimBar#org-eclipse-ui-main-toolbar {
    background-color: #676767 #6b6b6b;
}

CTabFolder.MArea .MPartStack,CTabFolder.MArea .MPartStack.active {
    swt-shadow-visible: false;
}


#org-eclipse-ui-editorss {
    swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    swt-unselected-tabs-color: #F0F0F0 #F0F0F0 #F0F0F0 100% 100%;
    swt-outer-keyline-color: #B4B4B4;
    swt-inner-keyline-color: #F0F0F0;
    swt-tab-outline: #F0F0F0;
    color: #F0F0F0;
    swt-tab-height: 8px;
    padding: 0px 5px 7px;
}

#org-eclipse-ui-trim-status{
    chrome-border-top-visible: false;
    chrome-padding-top: 0;
}

.MToolControl.TrimStack {
    frame-image: url(chrome://frame?background-color=#7b7b7b);
    frame-cuts: 5px 1px 5px 16px;

    handle-image: url(chrome://drag-handle?height=22&background-color=#7b7b7b&embossed=false);
}

.MTrimBar .Draggable {
    handle-image: url(chrome://drag-handle?height=22&background-color=#7b7b7b&embossed=false);
}

.MTrimBar#org-eclipse-ui-main-toolbar .Draggable {
    handle-image: url(chrome://drag-handle?height=22&background-color=#676767&embossed=false);
}

.MTrimBar#org-eclipse-ui-main-toolbar .TrimStack {
    frame-image: url(chrome://frame?background-color=#676767);
    handle-image: url(chrome://drag-handle?height=22&background-color=#676767&embossed=false);
}



/* ###################### Global Styles ########################## */

Tree, CTabFolder Canvas {
    background-color: #333;
    color: #FFF;
}

Text {
    background-color: inherit;
    color: inherit;
}

.View {
    background-color: #1D1D1B;
    color: #F5F5F5;
}

CLabel {
    color: #EBE8E4;
}

Form {
    background-color: #505F70;
    color: #9AC9D8;
}

Section {
    background-color: #4F5355;
    color: #AEBED0;
}

FormText {
    background-color: inherit;
    color: inherit;
}

LayoutComposite, LayoutComposite > FormText, LayoutComposite > Label, LayoutComposite > Button {
    background-color: #4F5355;
    color: #F4F7F7;
}

LayoutComposite ScrolledPageBook, LayoutComposite Sash {
    background-color: #4F5355;
    color: #F4F7F7;
}

LayoutComposite > Text, LayoutComposite > Combo {
    background-color: #414445;
    color: #F4F7F7;
}

LayoutComposite > Table {
    background-color: #333;
    color: #FFF;
}

Twistie {
    color: #E8E4DF;
}

#SearchField {
    background-color: inherit;
    color: #f0f0f0;
}

Button {
    background-color: inherit;
}

PageSiteComposite, PageSiteComposite > CImageLabel {
    color: #EEEEEE;
}
PageSiteComposite > PropertyTable {
    background-color: #333;
    color: #EEEEEE;
}

FlyoutControlComposite, FlyoutControlComposite ToolBar, FlyoutControlComposite CLabel {
    background-color: #3f4447;
    color: #EEEEEE;
}

/* ###################### Top Toolbar ########################## */

#org-eclipse-ui-main-toolbar, #PerspectiveSwitcher {
    eclipse-perspective-keyline-color: #585858;
    background-color: #909191 #7b7b7b 100%;
    handle-image: none;
    chrome-show-perspective-name: true;
    color: #EBE8E4;
}


/* ######################### Views ############################# */

#org-eclipse-jdt-ui-PackageExplorer.MPart {
    background-color: #3f4447;
    color: #EEEEEE;
}

/* ------------------------------------------------------------- */

#org-eclipse-ui-views-ContentOutline {
    background-color: #3f4447;
    color: #EEEEEE;
}
#org-eclipse-ui-views-ContentOutline.MToolBar {
    background-color: inherit;
}

/* ------------------------------------------------------------- */

.MPart.Editor StyledText{
    chrome-line-style: none;
    chrome-line-color: #535353;
}
#org-eclipse-e4-ui-compatibility-editor CTabItem {
    color: #EEEEEE;
    font-weight: normal;
    font-family: 'Calibri';
}
#org-eclipse-e4-ui-compatibility-editor CTabItem:selected {
    background-color: #262626;
    font-weight: bold;
    font-family: 'Calibri';
}
#org-eclipse-e4-ui-compatibility-editor .MPart {
    color: #EEEEEE;
}

/* ------------------------------------------------------------- */

#org-eclipse-pde-runtime-LogView {
    background-color: #3f4447;
    color: #EEEEEE;
}
#org-eclipse-pde-runtime-LogView.MToolBar {
    background-color: inherit;
}
#org-eclipse-pde-runtime-LogView .MPart > Label, #org-eclipse-ui-views-ProblemView .MPart > Label, #org-eclipse-ui-views-TaskList .MPart > Label{
    background-color: #3f4447;
    color: #EEEEEE;
}
#org-eclipse-jdt-ui-JavadocView .MPart, #org-eclipse-jdt-ui-JavadocView .MPart Browser, #org-eclipse-jdt-ui-JavadocView .MPart OleFrame {
    background-color: #3f4447;
    color: #EEEEEE;
}
#org-eclipse-pde-runtime-LogView FilteredTree Composite{
    background-color: #262B2D;
}
#org-eclipse-pde-runtime-LogView Text {
    background-color: #333;
    color: #F4F7F7;
}
#org-eclipse-jdt-ui-SourceView .MPart > Label, #org-eclipse-ui-console-ConsoleView .MPart > Label {
    background-color: #3f4447;
    color: #EEEEEE;
}
#org-eclipse-jdt-ui-SourceView .MPart > Composite {
    background-color: #4D565B;
    color: #EEEEEE;
}
#org-eclipse-ui-console-ConsoleView .MPart > Composite, #org-eclipse-ui-console-ConsoleView .MPart StyledText {
    background-color: #333;
    color: #EEEEEE;
}
#com-android-ide-eclipse-ddms-views-LogCatView .MPart {
    background-color: #3f4447;
    color: #EEEEEE;
}
#com-android-ide-eclipse-ddms-views-LogCatView .MPart Label {
    color: #EEEEEE;
}
#com-android-ide-eclipse-ddms-views-LogCatView .MPart Table {
    background-color: #555;
    color: #EEEEEE;
}
#com-android-ide-eclipse-ddms-views-LogCatView .MPart Combo, #com-android-ide-eclipse-ddms-views-LogCatView .MPart Text {
    background-color: #333;
    color: #EEEEEE;
}


/* #################### Bottom Status Bar ######################## */

#org-eclipse-ui-StatusLine, #org-eclipse-ui-ProgressBar {
    color: #FFFFFF;
}

Toolbar, StatusLine, ImageBasedFrame{
    color: #EBE8E4;
}
