/**
 * ====================================================================
 * @title: Eclipse MoonRise UI Theme
 * @author: Andrea Guarinoni
 * @version: 0.8.9
 * @target-platform: Generic
 * @style-type: Main
 * @requires: Eclipse Chrome Theme by Jeeeyul Lee
 * ====================================================================
 */
 
 /* @import url("moonrise-ui-standalone.css"); */
 
 /* [Eclipse Bug 423744]: 
  * Importing a local resource throws a MalformedURLException because the
  * resource directory is hard-coded to point to 'platform:/plugin/org.eclipse.platform/'
  * Basic workaround for stylesheet imports: copy-pasting the whole content of the file that should be imported */
	
 /* >>>>>>>>>>>>> content of 'moonrise-ui-standalone.css' >>>>>>>>>>>>>>>>>> */
	
	/**
	 * ====================================================================
	 * @title: Eclipse MoonRise UI Theme (standalone)
	 * @author: Andrea Guarinoni
	 * @version: 0.8.9
	 * @target-platform: Generic
	 * @style-type: Main
	 * ====================================================================
	 */
	
	.MTrimmedWindow.topLevel {
	    margin-top: 4px;
	    margin-bottom: 2px;
	    margin-left: 2px;
	    margin-right: 2px;
	}
	
	.MPartStack {
	    background-color: #313538;
	    color: #f7f8f8;
	    swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	
	    swt-tab-height: 32px;
	    
	    padding: 1px 6px 6px 6px; /* top left bottom right */
	    swt-tab-outline: #3B4042; /* border color for selected tab */
	    swt-outer-keyline-color: #515658; /* border color for whole tabs container */
	    swt-unselected-tabs-color: #515658 #464649 #313538 99% 100%; /* title background for unselected tab */
	    swt-selected-tab-fill: #313538; /* title background for selected tab (gradient bottom color) */		
	
	    swt-shadow-color: #0b0b0b;
	    swt-shadow-visible: true;
	
	    swt-mru-visible: true;
	
	    swt-corner-radius: 16px;
	}
	
	.MPartStack.active {
	    background-color: #292929;   /* ignored (<2>) */
	    swt-inner-keyline-color: #FFFFFF;
	    swt-tab-outline: #484848; /* border color for selected tab */
	    swt-outer-keyline-color: #4B4C4F; /* border color for whole tabs container */
	    swt-unselected-tabs-color: #494A4D #404043 #272727 99% 100%; /* title background for unselected tab */
	    swt-selected-tab-fill: #292929; /* title background for selected tab (gradient bottom color) */
	}
	.MPartStack.active > * {
	    /* Workaround for (<2>) to set the color of the inner border for the active tab */
	    background-color: #292929;
	}
	
	.MPartStack.empty {
	    swt-unselected-tabs-color: #515658 #4F5456 #4F5456 99% 100%; /* title background for unselected tab */
	    swt-tab-outline: #535354; /* border color for selected tab */
	    swt-outer-keyline-color: #515658; /* border color for whole tabs container */
	}
	
	CTabItem,
	CTabItem CLabel {
	    background-color: #313538; /* HACK for background of CTabFolder inner Toolbars */
	    color: #999999;
	    /*font-family: 'Segoe Print';*/ /* currently, there is no way to define a fallback for font-family */
	    /*font-size: 8;*/
	}
	CTabItem:selected,
	CTabItem:selected CLabel {
	    color: #DDDDDD;
	}
	
	.MPartStack.active > CTabItem,
	.MPartStack.active > CTabItem CLabel {
	    background-color: #292929; /* HACK for background of CTabFolder inner Toolbars */
	    color: #AAAAAA;
	}
	.MPartStack.active > CTabItem:selected,
	.MPartStack.active > CTabItem:selected CLabel {
	    color: #FFFFFF;
	}
	
	CTabItem.busy {
		color: #888888;
	}
	
	.MTrimmedWindow {
	    background-color: #515658;
	}
	
	.MTrimBar {
	    background-color: #515658;
	}
	
	.MTrimBar .Draggable {
	    handle-image: url('./dragHandle.png');
	}
	
	.TrimStack {
	    frame-cuts: 4px 2px 5px 16px;
	    handle-image: url('./dragHandle.png');
	}
	
	CTabFolder.MArea .MPartStack,CTabFolder.MArea .MPartStack.active {
	    swt-shadow-visible: false;
	}
	
	.MToolControl.TrimStack {
	    frame-cuts: 5px 1px 5px 16px;
	}
	
	
	/* ###################### Global Styles ########################## */
	
	/* ++++++ Remove these to have ONLY the main IDE shell dark ++++++ */
	
	Composite, ScrolledComposite, ExpandableComposite, TabFolder, CLabel, Label,
	ToolItem, Sash, Group, Hyperlink, RefactoringLocationControl, Link, FilteredTree,
	ProxyEntriesComposite, NonProxyHostsComposite, DelayedFilterCheckboxTree,
	Splitter, ScrolledPageContent, ViewForm, LaunchConfigurationFilteredTree,
	ContainerSelectionGroup, BrowseCatalogItem, EncodingSettings,
	ProgressMonitorPart, DocCommentOwnerComposite, NewServerComposite,
	NewManualServerComposite, ServerTypeComposite, FigureCanvas,
	DependenciesComposite, ListEditorComposite, WrappedPageBook,
	CompareStructureViewerSwitchingPane, CompareContentViewerSwitchingPane,
	QualifiedNameComponent, RefactoringStatusViewer, ImageHyperlink,
	Button /* SWT-BUG: checkbox inner label font color is not accessible */,
	ViewForm > ToolBar, /* SWT-BUG: ToolBar do not inherit rules from ViewForm */
	/*Shell [style~='SWT.DROP_DOWN'] > GradientCanvas,*/ /* ignored */
	/* SWT-BUG dirty workaround [Eclipse Bug 419482]: a generic rule (eg: Composite > *) needed to catch an
	   element without a CSS id, a CSS class and a seekable Widget name, cannot be overridden
	   by a subsequent more specific rule used to correct the style for seekable elements (<1>): */
	TabFolder > Composite > *, /* Composite > CommitSearchPage$... */
	TabFolder > Composite > * > * /* [style~='SWT.NO_BACKGROUND'] <- generate E4 non-sense bugs in apparently not related other rules */, /* Composite > ContentMergeViewer$... > TextMergeViewer$... */
	DocCommentOwnerComposite > Group > *, /* Group > DocCommentOwnerComposite$... */
	TabFolder > Composite > ScrolledComposite > *, /* ScrolledComposite > ControlListViewer$... */
	Shell > Composite > Composite > *, /* Composite > StatusDialog$MessageLine (SWT-BUG: ignored) */
	Composite > Composite > Composite > ToolBar, /* Window->Preference (top toolbar) */
	Composite > Composite > Composite > Group > *, /* Group > CreateRefactoringScriptWizardPage$... */
	Shell > Composite > Composite > Composite > *, /* Composite > FilteredPreferenceDialog$... */
	ScrolledComposite > Composite > Composite > Composite > *, /* Composite > NewKeysPreferencePage$... */
	Shell > Composite > Composite > Composite > Composite > Composite > *, /* Composite > ShowRefactoringHistoryWizardPage$... */
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > *, /* Composite > RefactoringWizardDialog$... */
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > * /* Composite > RefactoringWizardDialog$... */ {
	    background-color:#515658;
	    color:#eeeeee;
	}
	
	List,
	/* It might be useless but currently it's needed due to a strange priority
	   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
	Composite > List,
	TabFolder > Composite > List,
	TabFolder > Composite > * > List,
	DocCommentOwnerComposite > Group > List,
	TabFolder > Composite > ScrolledComposite > List,
	Shell > Composite > Composite > List,
	Composite > Composite > Composite > Group > List,
	Shell > Composite > Composite > Composite > List,
	ScrolledComposite > Composite > Composite > Composite > List,
	Shell > Composite > Composite > Composite > Composite > Composite > List,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > List,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > List {
	    background-color: #41464A;
	    color: #dddddd;
	}
	
	Combo,
	/* It might be useless but currently it's needed due to a strange priority
	   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
	Composite > Combo,
	TabFolder > Composite > Combo,
	TabFolder > Composite > * > Combo,
	DocCommentOwnerComposite > Group > Combo,
	TabFolder > Composite > ScrolledComposite > Combo,
	Shell > Composite > Composite > Combo,
	Composite > Composite > Composite > Group > Combo,
	Shell > Composite > Composite > Composite > Combo,
	ScrolledComposite > Composite > Composite > Composite > Combo,
	Shell > Composite > Composite > Composite > Composite > Composite > Combo,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > Combo,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > Combo {
	    background-color: #41464A;
	    color: #dddddd;
	}
	
	/* Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.MENU'][style~='SWT.DATE'][style~='SWT.RESIZE'][style~='SWT.TITLE'][style~='SWT.APPLICATION_MODAL'][style~='SWT.FULL_SELECTION'][style~='SWT.SMOOTH'] > Composite[style~='SWT.LEFT_TO_RIGHT'], */
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.MENU'][style~='SWT.DATE'][style~='SWT.RESIZE'][style~='SWT.TITLE'][style~='SWT.APPLICATION_MODAL'][style~='SWT.FULL_SELECTION'][style~='SWT.SMOOTH'] > Composite[style~='SWT.LEFT_TO_RIGHT'] > Text[style~='SWT.READ_ONLY'],
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.MENU'][style~='SWT.DATE'][style~='SWT.RESIZE'][style~='SWT.TITLE'][style~='SWT.APPLICATION_MODAL'][style~='SWT.FULL_SELECTION'][style~='SWT.SMOOTH'] > Composite[style~='SWT.LEFT_TO_RIGHT'] > ToolBar {
		/* Dialog windows title */
		/*background-color: #4D5765;*/ /* There is no way to change the background-color of the title of a Dialog without introducing artifacts in some other Dialog windows */
	    color: #9ac9d8;
	}
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.MENU'][style~='SWT.DATE'][style~='SWT.RESIZE'][style~='SWT.TITLE'][style~='SWT.APPLICATION_MODAL'][style~='SWT.FULL_SELECTION'][style~='SWT.SMOOTH'] > Composite[style~='SWT.LEFT_TO_RIGHT'] > Label[style~='SWT.NO_FOCUS'] {
		/* Dialog windows title */
		/*background-color: #4D5765;*/
	    color: #EEEEEE;
	}
	
	Text {
	    background-color: #515658;
	    color: #cccccc;
	}
	Text[style~='SWT.DROP_DOWN'],
	TextSearchControl /* SWT-BUG: background color is hard-coded */,
	TextSearchControl > Label {
	    /* search boxes and input fields */
	    background-color: #41464A;
	    color: #dddddd;
	}
	Text[style~='SWT.SEARCH'],
	Text[style~='SWT.SEARCH'] + Label /* SWT-BUG: adjacent sibling selector is ignored (CSS2.1) */ {
	    /* search boxes */
	    background-color: #949DA5;
	    color: #ffffff;
	}
	Text[style~='SWT.POP_UP'] {
	    background-color: #34383B;
	    color: #dddddd;
	}
	Text[style~='SWT.READ_ONLY'] {
	    background-color: #515658;
	    color: #bbbbbb;
	}
	/* Text[style~='SWT.POP_UP'][style~='SWT.ERROR_MENU_NOT_POP_UP'][style~='SWT.ICON_WARNING'] {
	      /* Dirty way to catch error popup labels
	        (currently it's impossible since there's no difference
	        at all from some other Text elements) */
	/*    background-color: #742025;
	      color: #FF9997;
	} */
	
	DatePicker,
	DatePicker > Text,
	DatePicker > ImageHyperlink,
	ScheduleDatePicker,
	ScheduleDatePicker > Text,
	ScheduleDatePicker > ImageHyperlink {
		background-color: #41464A;
	    color: #dddddd;
	}
	
	MessageLine,
	/* It might be useless but currently it's needed due to a strange priority
	   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
	Shell > Composite > Composite > MessageLine,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > Composite > MessageLine {
		background-color:#515658; /* SWT-BUG: background color is hard-coded */
		color: #E39898;
	}
	
	StyledText, 
	Spinner,
	CCombo {
	    background-color: #383C3E;
	    color: #dddddd;
	}
	
	Composite > StyledText,
	Shell [style~='SWT.DROP_DOWN'] > StyledText, /* for eg. folded code popup (but it's ignored) */
	/* It might be useless but currently it's needed due to a strange priority
	   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
	ScrolledComposite > Composite > Composite > Composite > StyledText {
	    background-color: #252525;
	    color: #dddddd;
	}
	
	ScrolledFormText, 
	FormText {
	    background-color: #687174;
	    color: #eeeeee;
	}
	
	ToolItem:selected {
	    background-color: #313538;
	    color: #dddddd;
	}
	
	Table,
	/* It might be useless but currently it's needed due to a strange priority
	   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
	Composite > Table,
	TabFolder > Composite > Table,
	TabFolder > Composite > * > Table,
	DocCommentOwnerComposite > Group > Table,
	TabFolder > Composite > ScrolledComposite > Table,
	Shell > Composite > Composite > Table,
	Composite > Composite > Composite > Group > Table,
	Shell > Composite > Composite > Composite > Table,
	ScrolledComposite > Composite > Composite > Composite > Table,
	Shell > Composite > Composite > Composite > Composite > Composite > Table,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > Table,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > Table {
	    background-color: #35393C;
	    color: #dddddd;
	}
	
	Tree,
	RegistryFilteredTree,
	/* It might be useless but currently it's needed due to a strange priority
	   policy used by the E4 platform to apply CSS rules to SWT widgets (see <1>): */
	Composite > Tree,
	TabFolder > Composite > Tree,
	TabFolder > Composite > * > Tree,
	DocCommentOwnerComposite > Group > Tree,
	TabFolder > Composite > ScrolledComposite > Tree,
	Shell > Composite > Composite > Tree,
	Composite > Composite > Composite > Group > Tree,
	Shell > Composite > Composite > Composite > Tree,
	ScrolledComposite > Composite > Composite > Composite > Tree,
	Shell > Composite > Composite > Composite > Composite > Composite > Tree,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > Tree,
	Shell[style~='SWT.RADIO'][style~='SWT.CASCADE'][style~='SWT.SHADOW_ETCHED_IN'][style~='SWT.SHADOW_ETCHED_OUT'][style~='SWT.RESIZE'][style~='SWT.MENU'][style~='SWT.FULL_SELECTION'][style~='SWT.DATE'] > Composite > * > Tree {
	    background-color: #2F2F2F;
	    color: #CCC;
	}
	
	/* prevent CSS Spy red borders to be grayed with a generic Shell selector */
	Shell[style~='SWT.SHADOW_ETCHED_OUT'], Shell[style~='SWT.SHADOW_ETCHED_IN'],
	Shell[style~='SWT.CHECK'], Shell[style~='SWT.TITLE'], Shell[style~='SWT.OK'],
	Shell[style~='SWT.CANCEL'], Shell[style~='SWT.ABORT'], Shell[style~='SWT.DROP_DOWN'],
	Shell[style~='SWT.ARROW'], Shell[style~='SWT.RADIO'], Shell[style~='SWT.SINGLE'],
	Shell[style~='SWT.SHADOW_IN'], Shell[style~='SWT.TOOL'], Shell[style~='SWT.RESIZE'],
	Shell[style~='SWT.SHELL_TRIM'], Shell[style~='SWT.FILL'], Shell[style~='SWT.ALPHA'],
	Shell[style~='SWT.BORDER'], Shell[style~='SWT.DIALOG_TRIM'], Shell[style~='SWT.IGNORE'],
	Shell[style~='SWT.FULL_SELECTION'], Shell[style~='SWT.SMOOTH'], Shell[style~='SWT.VIRTUAL'],
	Shell[style~='SWT.APPLICATION_MODAL'], Shell[style~='SWT.MEDIUM'], Shell[style~='SWT.LONG']
	{
	    background-color: #515658;
	    color: #cccccc;
	}
	Shell > Composite > Table[style~='SWT.DROP_DOWN'] {
	    background-color: #35393C;
	    color: #dddddd;
	}
	
	Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite,
	Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite Composite,
	Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite ScrolledComposite,
	Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite Canvas,
	Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite StyledText,
	Shell[style~='SWT.DROP_DOWN'][style~='SWT.SHADOW_IN'][style~='SWT.SHADOW_ETCHED_IN'] > Composite Label {
	/* Error information popup */
	    background-color: #2F2F2F;
	    color: #CCC;
	}
	
	TextSearchControl {
	    background-color: #41464A;
	    color: #dddddd;
	}
	
	ViewerPane,
	DrillDownComposite,
	ViewerPane > ToolBar,
	DrillDownComposite > ToolBar {
	    background-color: #232323;
	    color: #CCC;
	}
	
	ProgressInfoItem,
	CompareViewerPane,
	CompareViewerPane > * {
	    background-color: #333;
	    color: #eeeeee;
	}
	
	ProgressIndicator {
	    background-color: #777;
	    color: #eeeeee;
	}
	
	DiscoveryItem,
	DiscoveryItem Label,
	DiscoveryItem Composite {
	    background-color: #383C3E;
	    color: #dddddd;
	}
	DiscoveryItem StyledText {
	    background-color: #383C3E;
	    color: #aaaaaa;
	}
	DiscoveryItem Link {
	    background-color: #383C3E;
	    color: #8B9498;
	}
	
	CatalogSwitcher,
	CatalogSwitcher > ScrolledComposite > Composite > Composite /* ignored because hard-coded */,
	CategoryItem {
	    background-color: #515658;
	    color: #dddddd;
	}
	GradientCanvas,
	GradientCanvas > Label,
	GradientCanvas > ToolBar,
	GradientCanvas > ImageHyperlink { 
	    background-color: #3f4447;
	    color: #9ac9d8;
	}
	GradientCanvas {
		/* SWT-BUG workaround: GradientCanvas background-color is ignored */
		background: #3f4447;
		background-image: #3f4447;
	}
	CategoryItem > GradientCanvas,
	CategoryItem > GradientCanvas > Label { 
		/* SWT-BUG workaround: a style for background is not applied on GradientCanvas (CSS engine repaint issue) */
	    background-color: #fafafa;
	    color: #333;
	}
	CategoryItem > GradientCanvas {
		/* SWT-BUG workaround: a style for background is not applied on GradientCanvas (CSS engine repaint issue) */
		background: #fafafa;
		background-image: #333;
	}
	
	WebSite {
	    background-color: #41464A;
	    color: #dddddd;
	}
	
	CTabFolder {
	    background-color: #292929;
	    color: #f7f8f8;
	    swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	
		swt-tab-height: 32px;
	
	    padding: 0px 6px 6px 6px; /* top left bottom right */
	    swt-tab-outline: #484848; /* border color for selected tab */
	    swt-outer-keyline-color: #4B4C4F; /* border color for whole tabs container */
	    swt-unselected-tabs-color: #494A4D #404043 #272727 99% 100%; /* title background for unselected tab */
	    swt-selected-tab-fill: #292929; /* title background for selected tab (gradient bottom color) */
	
	    swt-shadow-color: #0b0b0b;
	    swt-shadow-visible: true;
	
	    swt-mru-visible: true;
	
	    swt-corner-radius: 16px;
	}
	CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'] {
	    /* Need to restore a native renderer or the bottom inner tabs won't be displayed */
	  	swt-tab-renderer: null;
	    swt-simple: true;
	  	swt-tab-height: 29px;
	}
	
	CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'] CTabItem {
	    color: #888888;
	    font-weight: normal;
	    /*font-family: 'Segoe Print';*/ /* currently, there is no way to define a fallback for font-family */
	    /*font-size: 8;*/
	}
	CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'] CTabItem:selected {
	    background-color: #262626;
	    color: #EEEEEE;
	    /*font-weight: bold;*/
	}
	
	/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	
	CTabFolder Tree, CTabFolder Canvas {
	    background-color: #2F2F2F;
	    color: #CCC;
	}
	.MPartStack.active Tree,
	.MPartStack.active CTabFolder Canvas {
	    background-color: #262626;
	    color: #CCC;
	}
	
	.MPartStack.active Table{
	    background-color: #2F2F2F;
	    color: #CCC;
	}
	
	.View {
	    background-color: #313538;
	    color: #F5F5F5;
	}
	/* not triggered
	.View.active {
	    background-color: #333;
	} */
	
	Form,
	FormHeading {
		background: #505f70;
	    background-color: #505F70;
	    background-image: #505f70;
	    color: #9AC9D8;
	}
	
	Section {
	    background-color: #4F5355;
	    color: #AEBED0;
	}
	
	Form > LayoutComposite > LayoutComposite > * {
	    background-color: #515658;
	    color: #EEEEEE;
	}
	
	LayoutComposite, LayoutComposite > FormText,
	LayoutComposite > Label,
	LayoutComposite > Button {
	    background-color: #4F5355;
	    color: #F4F7F7;
	}
	
	LayoutComposite ScrolledPageBook,
	LayoutComposite Sash {
	    background-color: #4F5355;
	    color: #F4F7F7;
	}
	
	LayoutComposite > Text,
	LayoutComposite > Combo {
	    background-color: #414445;
	    color: #F4F7F7;
	}
	
	LayoutComposite > Table {
	    background-color: #333;
	    color: #FFF;
	}
	
	Twistie {
	    color: #E8E4DF;
	}
	
	#SearchField {
	    /* background-image: url('./searchbox.png'); */
	    /* SWT-BUG: textures are applied as a label over the native ones, */
	    /* in this way textures with alpha color are not usable; */
	    /* default margins and padding cannot be modified and textures are not */
	    /* scaled properly to fit the container size: this makes the result ugly, */
	    /* moreover a texture is drawn over the widget, so also the text is covered */
	    color: #f0f0f0;
	}
	
	/* Button {
	      background-color: inherit;  /* ignored */
	      /* background-image: url('./button_bg.png') */
	/* } */
	
	/* Button[style~='SWT.CHECK'] { */
	    /* currently, Button object isn't consistent (eg. also a checkbox/radio is seen as Button) */
	    /* so, css rules applied to Button have to be overridden for non-Button matches */
	/* }
	   Button:disabled {
	      /* SWT-BUG: currently, a disabled button cannot be styled with any window manager (gtk, win32, cocoa) */
	/* }
	   Button:hover {
	      /* SWT-BUG: currently, an hovered button cannot be styled with any window manager (gtk, win32, cocoa) */
	/* } */
	
	.MPartSashContainer {
	    background-color: #515658;
	    color: #EEEEEE;
	}
	
	PageSiteComposite, PageSiteComposite > CImageLabel {
	    color: #EEEEEE;
	}
	PageSiteComposite > PropertyTable {
	    background-color: #333;
	    color: #EEEEEE;
	}
	PageSiteComposite > PropertyTable:disabled {
	/* SWT-BUG: event is triggered but styles for PropertyTable are hard-coded */
	    background-color: #444;
	    color: #EEEEEE;
	}
	
	FlyoutControlComposite, FlyoutControlComposite ToolBar, FlyoutControlComposite CLabel {
	    background-color: #3f4447;
	    color: #EEEEEE;
	}
	
	/* ###################### Top Toolbar ########################## */
	
	#org-eclipse-ui-main-toolbar, #PerspectiveSwitcher {
	    eclipse-perspective-keyline-color: #585858;
	    background-color: #515658 #515658 100%;
	    handle-image: none;
	    color: #EBE8E4;
	}
	
	
	/* ######################### Views ############################# */
	
	.MPart {
	    background-color: #323435;
	    color: #DDDDDD;
	}
	.MPartStack.active .MPart {
	    background-color: #292929;
	    color: #DDDDDD;
	}
	
	.MPart Composite,
	.MPart LayoutComposite,
	.MPart Label,
	.MPart Hyperlink,
	.MPart ImageHyperlink,
	.MPart ScrolledForm,
	.MPart Form,
	.MPart Section,
	.MPart FormText,
	.MPart Link,
	.MPart Sash,
	.MPart Button,
	.MPart Group,
	.MPart SashForm,
	.MPart FilteredTree,
	.MPart RegistryFilteredTree,
	.MPart PageSiteComposite,
	.MPart DependenciesComposite,
	.MPart Text[style~='SWT.READ_ONLY'],
	.MPart FigureCanvas,
	.MPart ListEditorComposite,
	.MPart ScrolledComposite,
	.MPart ScrolledComposite ToolBar,
	.Mpart ScrolledComposite ProgressInfoItem,
	.MPart Form ScrolledPageBook,
	.MPart Form > LayoutComposite > LayoutComposite > ToolBar,
	.MPart DependenciesComposite > SashForm > Section > * /* Section > DependenciesComposite$... */,
	.MPart LayoutComposite > * > LayoutComposite > Section > LayoutComposite > * /*LayoutComposite > MasterDetailBlock$... > LayoutComposite > Section > LayoutComposite > ExtensionsSection$...*/ {
	    background-color: #2F2F2F;
	    color: #AAAAAA;
	}
	.MPartStack.active .MPart Composite,
	.MPartStack.active .MPart LayoutComposite,
	.MPartStack.active .MPart Label,
	.MPartStack.active .MPart Hyperlink,
	.MPartStack.active .MPart ImageHyperlink,
	.MPartStack.active .MPart ScrolledForm,
	.MPartStack.active .MPart Form,
	.MPartStack.active .MPart Section,
	.MPartStack.active .MPart FormText,
	.MPartStack.active .MPart Link,
	.MPartStack.active .MPart Sash,
	.MPartStack.active .MPart Button,
	.MPartStack.active .MPart Group,
	.MPartStack.active .MPart SashForm,
	.MPartStack.active .MPart FilteredTree,
	.MPartStack.active .MPart RegistryFilteredTree,
	.MPartStack.active .MPart PageSiteComposite,
	.MPartStack.active .MPart DependenciesComposite,
	.MPartStack.active .MPart Text[style~='SWT.READ_ONLY'],
	.MPartStack.active .MPart FigureCanvas,
	.MPartStack.active .MPart ListEditorComposite,
	.MPartStack.active .MPart ScrolledComposite,
	.MPartStack.active .MPart ScrolledComposite ToolBar,
	.MPartStack.active .Mpart ScrolledComposite ProgressInfoItem,
	.MPartStack.active .MPart Form ScrolledPageBook,
	.MPartStack.active .MPart Form > LayoutComposite > LayoutComposite > ToolBar,
	.MPartStack.active .MPart DependenciesComposite > SashForm > Section > * /* Section > DependenciesComposite$... */,
	.MPartStack.active .MPart LayoutComposite > * > LayoutComposite > Section > LayoutComposite > * /*LayoutComposite > MasterDetailBlock$... > LayoutComposite > Section > LayoutComposite > ExtensionsSection$...*/ {
	    background-color: #262626;
	    color: #999999;
	}
	
	.MPart Section > Label {
		background-color: #2F2F2F;
	    color: #ABCEDA;
	}
	.MPartStack.active .MPart Section > Label {
		background-color: #262626;
	    color: #9EC1CE;
	}
	
	.MPart Table,
	.MPart Browser,
	.Mpart OleFrame,
	.MPart ViewForm,
	.MPart ViewForm > ToolBar,
	.MPart ViewForm > CLabel,
	.MPart PageBook > Label,
	.MPart PageBook > SashForm,
	#org-eclipse-help-ui-HelpView LayoutComposite > LayoutComposite,
	#org-eclipse-help-ui-HelpView LayoutComposite > LayoutComposite > * {
		background-color: #313538;
	    color: #CCC;
	}
	.MPartStack.active .MPart Table,
	.MPartStack.active .MPart Browser,
	.MPartStack.active .Mpart OleFrame,
	.MPartStack.active .MPart ViewForm,
	.MPartStack.active .MPart ViewForm > ToolBar,
	.MPartStack.active .MPart ViewForm > CLabel,
	.MPartStack.active .MPart PageBook > Label,
	.MPartStack.active .MPart PageBook > SashForm,
	.MPartStack.active #org-eclipse-help-ui-HelpView LayoutComposite > LayoutComposite,
	.MPartStack.active #org-eclipse-help-ui-HelpView LayoutComposite > LayoutComposite > * {
		background-color: #333;
	    color: #DDDDDD;
	}
	#org-eclipse-help-ui-HelpView LayoutComposite > LayoutComposite ImageHyperlink {
		background-color: #313538;
	    color: #6fc5ee;
	}
	.MPartStack.active #org-eclipse-help-ui-HelpView LayoutComposite > LayoutComposite ImageHyperlink {
		background-color: #333;
	    color: #7AAADA;
	}
	
	.MPart > Label,
	#com-android-ide-eclipse-adt-internal-lint-LintViewPart > Composite > Label {
	    background-color: #313538;
	    color: #7DC2BD;
	}
	.MPartStack.active .MPart > Label,
	.MPartStack.active #com-android-ide-eclipse-adt-internal-lint-LintViewPart > Composite > Label {
	    background-color: #2F3235;
	    color: #B1E8F7;
	}
	
	.MPart Section Tree,
	.MPart LayoutComposite > * > LayoutComposite > Section > LayoutComposite > Tree {
	    background-color: #383A3B;
	    color: #DDDDDD;
	}
	.MPartStack.active .MPart Section Tree,
	.MPartStack.active .MPart LayoutComposite > * > LayoutComposite > Section > LayoutComposite > Tree {
	    background-color: #353636;
	    color: #CCCCCC;
	}
	
	.MPart DatePicker,
	.MPart DatePicker > Text,
	.MPart DatePicker > ImageHyperlink,
	.MPart ScheduleDatePicker,
	.MPart ScheduleDatePicker > Text,
	.MPart ScheduleDatePicker > ImageHyperlink,
	.MPart CCombo,
	.MPart Spinner,
	.MPart StyledText,
	.MPart PageBook > SashForm Label,
	.MPart SashForm > Text[style~='SWT.BORDER'] {
	    background-color: #3f4447;
	    color: #BBBBBB;
	}
	.MPartStack.active .MPart DatePicker,
	.MPartStack.active .MPart DatePicker > Text,
	.MPartStack.active .MPart DatePicker > ImageHyperlink,
	.MPartStack.active .MPart ScheduleDatePicker,
	.MPartStack.active .MPart ScheduleDatePicker > Text,
	.MPartStack.active .MPart ScheduleDatePicker > ImageHyperlink,
	.MPartStack.active .MPart CCombo,
	.MPartStack.active .MPart Spinner,
	.MPartStack.active .MPart StyledText,
	.MPartStack.active .MPart PageBook > SashForm Label,
	.MPartStack.active .MPart SashForm > Text[style~='SWT.BORDER'] {
	    background-color: #313538;
	    color: #AAAAAA;
	}
	
	.MPart FormHeading,
	.MPart FormHeading > ToolBar,
	.MPart FormHeading > TitleRegion,
	.MPart FormHeading > TitleRegion > Label,
	.MPart FormHeading > TitleRegion > ToolBar,
	.MPart FormHeading > TitleRegion > StyledText,
	.MPart FormHeading LayoutComposite,
	.MPart FormHeading ImageHyperlink {
	    background-color: #505f70;
	    color: #9ac9d8;
	}
	.MPart FormHeading {
		background: #505f70;
		background-image: #505f70;	
	}
	.MPartStack.active .MPart FormHeading,
	.MPartStack.active .MPart FormHeading > ToolBar,
	.MPartStack.active .MPart FormHeading > TitleRegion,
	.MPartStack.active .MPart FormHeading > TitleRegion > Label,
	.MPartStack.active .MPart FormHeading > TitleRegion > ToolBar,
	.MPartStack.active .MPart FormHeading > TitleRegion > StyledText,
	.MPartStack.active .MPart FormHeading LayoutComposite,
	.MPartStack.active .MPart FormHeading ImageHyperlink {
	    background-color: #415062;
	    color: #9ac9d8;
	}
	.MPartStack.active .MPart FormHeading {
		background: #415062;
		background-image: #415062;
	}
	.MPart FormHeading,
	.MPart FormHeading > TitleRegion {
	    swt-background-mode: none;
	}
	.MPart FormHeading > CLabel {
		background-color: #505f70;
	    color: #E98787;
	}
	.MPartStack.active .MPart FormHeading > CLabel {
		background-color: #415062;
	    color: #E98787;
	}
	
	/* ------------------------------------------------------------- */
	
	#org-eclipse-jdt-ui-SourceView StyledText,
	#org-eclipse-wst-jsdt-ui-SourceView StyledText {
	    background-color: #252525;
	}
	
	/* ------------------------------------------------------------- */
	
	#org-eclipse-ui-console-ConsoleView .MPart > Composite,
	#org-eclipse-ui-console-ConsoleView .MPart StyledText,
	#org-eclipse-ui-console-ConsoleView .MPart PageBook Label,
	#org-eclipse-dltk-debug-ui-ScriptDisplayView SashForm > * {
	    background-color: #2F2F2F;
	    color: #CCCCCC;
	}
	.MPartStack.active #org-eclipse-ui-console-ConsoleView .MPart > Composite,
	.MPartStack.active #org-eclipse-ui-console-ConsoleView .MPart StyledText,
	.MPartStack.active #org-eclipse-ui-console-ConsoleView .MPart PageBook Label,
	.MPartStack.active #org-eclipse-dltk-debug-ui-ScriptDisplayView SashForm > * {
	    background-color: #262626;
	    color: #CCCCCC;
	}
	
	/* ------------------------------------------------------------- */
	
	#org-eclipse-pde-runtime-LogView Text {
	    background-color: #333;
	    color: #F4F7F7;
	}
	
	/* ------------------------------------------------------------- */
	
	#org-eclipse-pde-ui-TargetPlatformState PageBook > Composite > * {
		background-color: #2F2F2F;
	    color: #CCC;
	}
	
	/* ------------------------------------------------------------- */
	
	#org-eclipse-e4-ui-compatibility-editor Canvas,
	#org-eclipse-e4-ui-compatibility-editor Canvas > *,
	/* Workaround for CDT folding column SWT-BUG (styles aren't inherited) */
	#org-eclipse-e4-ui-compatibility-editor Canvas > * > * {
	    background-color: #262626;
	    /* SWT-BUG: background-color rule for LineNumberRulerColumn is ignored */
	}
	.MPartStack.active #org-eclipse-e4-ui-compatibility-editor Canvas,
	.MPartStack.active #org-eclipse-e4-ui-compatibility-editor Canvas > *,
	/* Workaround for CDT folding column SWT-BUG (styles aren't inherited) */
	.MPartStack.active #org-eclipse-e4-ui-compatibility-editor Canvas > * > * {
	    background-color: #202020;
	    /* SWT-BUG: background-color rule for LineNumberRulerColumn is ignored */
	}
	#org-eclipse-e4-ui-compatibility-editor .MPart {
	    color: #EEEEEE;
	}
	#org-eclipse-e4-ui-compatibility-editor PaletteControl ScrolledComposite > Composite > * {
	    background-color: #2F2F2F;
	    color: #BBBBBB;
	}
	.MPartStack.active #org-eclipse-e4-ui-compatibility-editor PaletteControl ScrolledComposite > Composite > * {
	    background-color: #262626;
	    color: #CCCCCC;
	}
	#org-eclipse-e4-ui-compatibility-editor PaletteControl CLabel {
	    background-color: #383838;
	    color: #dddddd;
	}
	#org-eclipse-e4-ui-compatibility-editor PaletteControl CLabel:hover {
	/* SWT-BUG #362532: The event is never triggered so the native rule cannot be overridden (for hover event) */
	    background-color: #252525;
	    color: #dddddd;
	}
	#org-eclipse-e4-ui-compatibility-editor FlyoutControlComposite > Composite {
	    background-color: #3f4447;
	    color: #DDDDDD;
	}
	#org-eclipse-e4-ui-compatibility-editor LayoutCanvas {
	    background-color: #252525;
	    color: #CCCCCC;
	}
	
	
	/* #################### Bottom Status Bar ######################## */
	
	#org-eclipse-ui-StatusLine,
	#org-eclipse-ui-ProgressBar,
	#org-eclipse-ui-ProgressBar Canvas {
	    color: #CCCCCC;
	}
	#org-eclipse-ui-StatusLine CLabel {
	    color: #BDBAB7;
	}
	
	StatusLine, ImageBasedFrame{
	    color: #BDBAB7;
	}

/* <<<<<<<<<<<< end of content of 'moonrise-ui-standalone.css' <<<<<<<<<<<< */

 

.MPartStack { 
    swt-tab-renderer:
        url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');

	background: #313538;
	
    jtab-selected-tab-background: #3B4042 #313538 #313538 99% 100%;  /* Gradient for selected tab item */	
    jtab-selected-border-color: none;  /* Gradient for the border of selected tab item */
    
    jtab-header-background: #515658 #464649 #313538 99% 100%;  /* Gradient for the background of tab header */
    jtab-unselected-border-color: none;  /* Gradient for the border of unselected tab item */
    
    jtab-hover-tabs-background: #414648 #464649 100%;  /* Gradient for hover tab item */
	jtab-hover-border-color: none;  /* Gradient for the border of hover tab item */

	jtab-close-button-color: #777777;  /* Color for close button */
	jtab-close-button-hot-color: #AF7278;  /* Hover color for close button */
	jtab-close-button-active-color: #943641;  /* Active color for close button */
	jtab-close-button-line-width: 2px;  /* Line width of the close button */
	jtab-chevron-color: #767676;  /* Chevron color */

    jtab-border-color: #515658 #313538 100%;  /* Gradient for the border of tab body */
    jtab-border-radius: 8px;  /* Radius for border of Tab and Tab Items */
    jtab-spacing: 0px;  /* Gap between each tab items */
    jtab-shadow-color: #333333;  /* Color for the shadow of tab body */
    jtab-shadow-position: 0px 2px;  /* Shadow offset for shadow of the tab body */
    jtab-shadow-radius: 10px;  /* Radius for the shadow of tab body */
    jtab-margin: 0px 2px 2px 2px;  /* Margin for the tab body */
    jtab-padding: 2px 2px 2px 2px;  /* Padding for tab body content */
    jtab-item-padding: 2px 7px 2px 7px;  /* Padding for inside area of Tab Item */

	jtab-selected-text-shadow-color: #eeeeee;  /* Color for the shadow of selected tab item text */
	jtab-selected-text-shadow-position: 0px 0px;  /* Offset for the shadow of selected tab item text */
	jtab-unselected-text-shadow-color: #333333;  /* Color for the shadow of unselected tab item text */
	jtab-unselected-text-shadow-position: 0px 1px;  /* Offset for the shadow of unselected tab item text */
}

.MPartStack.active {
	background: #292929;         
    jtab-selected-tab-background: #2B2C2D #292929 #292929 99% 100%;  /* Gradient for selected tab item */
	jtab-header-background: #494A4D #404043 #404043 99% 100%;  /* Gradient for the background of tab header */
	
	jtab-hover-tabs-background: #313638 #363639 100%;  /* Gradient for hover tab item */
}

.TrimStack {
    frame-image: url('jeeeyul://frame?background-color=#414648');
    frame-cuts: 4px 2px 5px 16px;
    handle-image: url('jeeeyul://drag-handle?height=27&background-color=#515658&embossed=false');
}

.MTrimBar .Draggable {
    handle-image: url('jeeeyul://drag-handle?height=27&background-color=#515658&embossed=false');
}

.MPartSashContainer {
	jsash-width: 4px;  /* Gap between each parts */
}	

/* ###################### Global Styles ########################## */

/* ++++++ Remove these to have ONLY the main IDE shell dark ++++++ */

CTabFolder {
    swt-tab-renderer: url('bundleclass://net.jeeeyul.eclipse.themes/net.jeeeyul.eclipse.themes.rendering.JeeeyulsTabRenderer');
    
    jtab-selected-tab-background: #363636 #292929 #292929 99% 100%;  /* Gradient for selected tab item */	
    jtab-selected-border-color: none;  /* Gradient for the border of selected tab item */
    
    jtab-header-background: #494A4D #404043 #404043 99% 100%;  /* Gradient for the background of tab header */
    jtab-unselected-border-color: none;  /* Gradient for the border of unselected tab item */
    
    jtab-hover-tabs-background: #313638 #363639 100%;  /* Gradient for hover tab item */
	jtab-hover-border-color: none;  /* Gradient for the border of hover tab item */

	jtab-close-button-color: #777777;  /* Color for close button */
	jtab-close-button-hot-color: #AF7278;  /* Hover color for close button */
	jtab-close-button-active-color: #943641;  /* Active color for close button */
	jtab-close-button-line-width: 2px;  /* Line width of the close button */
	jtab-chevron-color: #767676;  /* Chevron color */

    jtab-border-color: #515658 #313538 100%;  /* Gradient for the border of tab body */
    jtab-border-radius: 8px;  /* Radius for border of Tab and Tab Items */
    jtab-spacing: 0px;  /* Gap between each tab items */
    jtab-shadow-color: #333333;  /* Color for the shadow of tab body */
    jtab-shadow-position: 0px 2px;  /* Shadow offset for shadow of the tab body */
    jtab-shadow-radius: 10px;  /* Radius for the shadow of tab body */
    jtab-margin: 0px 2px 2px 2px;  /* Margin for the tab body */
    jtab-padding: 2px 2px 2px 2px;  /* Padding for tab body content */
    jtab-item-padding: 2px 7px 2px 7px;  /* Padding for inside area of Tab Item */

	jtab-selected-text-shadow-color: #eeeeee;  /* Color for the shadow of selected tab item text */
	jtab-selected-text-shadow-position: 0px 0px;  /* Offset for the shadow of selected tab item text */
	jtab-unselected-text-shadow-color: #333333;  /* Color for the shadow of unselected tab item text */
	jtab-unselected-text-shadow-position: 0px 1px;  /* Offset for the shadow of unselected tab item text */
}
CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'] {
    /* Need to restore a native renderer or the bottom inner tabs won't be displayed and Eclipse crashes during startup with errors */
	swt-tab-renderer: null;
    swt-simple: true; 
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */	
	
/* ######################### Views ############################# */

.MPart.Editor StyledText {
	jeditor-line-style: none;     /* One of "none", "solid", "dashed", "dotted" */
	jeditor-line-color: #353535;  /* Color for the underlines in text editors */
}
